<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="username" value=""/>
    <add key="password" value=""/>
    <add key="updateurl" value=""/>
    <add key="appkey" value=""/>
    <add key="successregex" value=""/>
    <add key="errorregex" value=""/>
  </appSettings>
</configuration>
